.featured
{
  padding: 20px 0 20px 0;
  font-size: 500px;
  margin: auto;
  width: 80%;
}

.featured table
{
  border-spacing: 20px;
}

.featured td
{
  width: 25%;
  vertical-align: top;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0;
  transition: 200ms;
}

.featured td:hover {
  opacity: 0.7;
  transition: 200ms;
}

.featured img
{
  width: 100%;
  border-radius: 5px 5px 0 0;
  padding: 0;
}

.featured h3
{
  font-family: 'Rosenpark-Body';
  font-weight: lighter;
  padding: 0 10px 0 10px;
}

.featured p
{
  font-size: 14px;
  text-align: justify;
  padding: 0 10px 10px 10px;
}

.customers
{
  padding: 0 0 50px 0;
  width: 75%;
  margin: auto;
}
