.my-venues h1
{
  margin: 20px 0 0 2px;
}

.add-venue
{
  border: 1px solid lightgray;
  border-radius: 5px;
}

.add-venue h2
{
  padding-left: 20px;
}

.add-venue .add-label
{
  width: 15%;
}

.add-venue .add-input
{
  width: 35%;
}

.add-venue td
{
  border: none;
}

.add-venue input, select
{
  width: 98%;
}

.add-venue select
{
  border: 1px solid gray;
  font-size: initial;
  padding: 0;
}

.add-venue button
{
  float: right;
}

.add-venue .rate
{
  width: 80%;
}
